<div class="auth-page">
  <div class="auth-card">

    <!-- LEFT -->
    <div class="left-side">
      <img src="assets/img/Logo.png" class="logo" />

      <h2 class="brand-title">
        Plateforme Opérations Aéroportuaires
      </h2>

      <p class="brand-desc">
        Gestion intelligente des interventions et incidents
      </p>
    </div>

    <!-- RIGHT -->
    <div class="right-side">

      <h1 class="title">Connexion</h1>
      <p class="subtitle">Accédez à votre espace sécurisé</p>

      <form>

        <!-- EMAIL -->
        <div class="field">
          <label>Email</label>
          <input type="email" placeholder="exemple@email.com" />
        </div>

        <!-- PASSWORD -->
        <div class="field">
          <label>Mot de passe</label>
          <input type="password" placeholder="**********" />
        </div>

        <!-- OPTIONS -->
        <div class="options">
          <label>
            <input type="checkbox" />
            Se souvenir de moi
          </label>

          <a href="#">Mot de passe oublié ?</a>
        </div>

        <!-- BUTTON -->
        <button class="btn-primary">
          → Se connecter
        </button>

      </form>

      <div class="divider"></div>

      <p class="secure-text">
        Accès sécurisé réservé au personnel
      </p>

      <p class="signup-text">
        Vous n'avez pas de compte ?
        <a routerLink="/signup">Créer un compte</a>
      </p>

    </div>

  </div>
</div>